server:
  port: 8082

spring:
  profiles:
    active: dev
  data:
    mongodb:
      auto-index-creation: true
      uri: mongodb://host.docker.internal:27017/
      #uri: mongodb://localhost:27017/
      database: customer-service
      
  cloud:
    eureka:
      client:
        serviceUrl:
          #defaultZone: http://localhost:8761/eureka/ 
          defaultZone: http://host.docker.internal:8761/eureka/
        fetchRegistry: true 
        registerWithEureka: true  
        enabled: true

feign:
  client:
    config:
      credit-service:
        url: http://localhost:8084
      account-service:
        url: http://localhost:8081
      card-service:
        url: http://localhost:8087